body {
  margin: 0;
}

.header {
  padding: 0;
}

/* 
.header {
  background-color: black;
  margin: 0px;
  height: 5vh;
  justify-content: center;
  text-align: center;
  align-items:center;
  color:aliceblue;
}

.wholeWeb {
  width:100%;
  margin: 0;
  padding: 0 ;
  justify-content: center;
  text-align: center;
  display: 'flex';
  min-height: 100vh;
  
}
.content {
  background-color: #d5d1d1;
  height: 95vh;
  text-align: center;
  justify-content: center;
  display: 'flex';
  color: black;
}

.content-top {
  background-color: #d2d2d2; 
  height: 80%;
  text-align: center;
  justify-content: center;
  display: 'flex';
  color: black;
}
.content-down {
  background-color: #7f7f7f;
  height: 20%;
  text-align: center;
  justify-content: center;
  display: 'flex';
  color: black;
}

.player {
  background-color: #454545;
  width: 60%;
  text-align: center;
  justify-content: center;
  display: 'flex';
  color: black;
  line-height: 80vh;
 
}

.content-right {
  background-color: #d2d2d2;
  width: 40%;
  text-align: center;
  justify-content: center;
  display: 'flex';
  color: black;
 
} */
